.dd {
    display: inline-block;
    }

.dd div {
    cursor: pointer;
    padding: 5px 10px;
    background: #ccc;
    }

.dd.expanded div {
    color: #fff;
    background: #333;
    }

.dd.expanded ul {
    display: block;
    }

.dd ul {
    margin: 0;
    padding: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    list-style: none;
    display: none;
    }

.dd li {
    cursor: pointer;
    padding: 5px 20px;
    }

.dd li:hover {
    color: #fff;
    background: #666;
    }

.dd li[disabled] {
    color: #ccc;
    cursor: text;
    background: none;
    }

/* оформление активного элемента списка*/
.dd li.active,
.dd li.active a {
    color: crimson;
    font-weight: bolder;
    }

.dd li.active{
    border: 1px solid crimson;
    }
/* -- */

/* второй вариант оформления активного элемента */
.dd li.active-alt,
.dd li.active-alt a {
    color: green;
    font-weight: bolder;
}

.dd li.active-alt{
    border: 1px solid green;
}
/* -- */


.messageDemonstratorLabel {
    display: inline-block;
}
.messageDemonstrator {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #cccccc;
    padding: 0.3em;
    min-width: 20em;
}

.first-dd {
    float: left;
    margin-right: 2em;
}

.second-dd {
    float: left;
}

